.carousel-expand {
    height: 100%;
    width: 100%;
}

.carousel-title {
    text-align: center;
    margin-top: 14%;
    font-size: 8vh;
}

.carousel-caption {
    font-size: 5vh;
    position: unset;
    margin-top: 8%;
}

.title-input {
    color: #a7a7a7;
    background: #333333;
    border: unset;
    text-align: center;
}

.color-up {
    color: green;
}

.color-down {
    color: darkred;
}

.color-neutral {
    color: beige;
}

.clear-active-item-hide {
    visibility: hidden;
    font-size: 3em;
    color: white;
    justify-content: end;
    margin-right: 15%;
}

.clear-active-item-show{
    visibility: visible;
    font-size: 3em;
    color: white;
    justify-content: end;
    margin-right: 15%;
}

.opaque-button {
    margin-top: 5px;
    background-color: #333333;
    border-color: #333333;
    font-size: 2rem;
}

.opaque-button:hover {
    background-color: #333333;
    border-color: #555555;
    font-size: 2rem;
    margin-top: 5px;
}